﻿@model List<Laboratorium_3.Models.Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista książek</h1>
<a class="btn btn-primary" asp-controller="Book" asp-action="Create">Dodaj książkę</a>
<table class="table">
    <thead></thead>
    <tr>
        <th>
            @Html.DisplayNameFor(i => Model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(i => Model[0].Author)
        </th>
        <th>
            Opcje
        </th>
    </tr>
    <tbody>
        @foreach(var item in @Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Book" asp-action="Update" asp-route-id="@item.Id">Edycja</a>
                    <a class="btn btn-outline-info" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    <a class="btn btn-outline-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>